@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using CinemaProject.Models;
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/CinemaProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: linear-gradient(to right, #b92b27, #1565c0)
        }     
    </style>
</head>
<body>

    <div class="card"> 
        <div class="box">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                <h1>@ViewData["Title"]</h1> 
                <p class="text-muted">Sử dụng tài khoản đã đăng ký để đăng nhập!</p> 
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* username *@
                <span asp-validation-for="@Model.UserNameOrEmail" class="text-danger"></span>
                <input asp-for="UserNameOrEmail" class="form-control" placeholder="Username hoặc Email"/>
                @* password *@
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" class="form-control" placeholder="Password"/>
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                <div class="checkbox">
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Chưa có tài khoản? Đăng ký</a>
                    <a class="forgot text-muted" asp-action="ForgotPassword">Quên mật khẩu?</a>
                </div>
                <button type="submit" class="btn-submit_Login">Đăng nhập</button>
            </form> 

            <div class="col-md-12 External-Login"> 
                <section>
                    <ul class="social-network social-circle">

                        @{
                            var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
                            var loginProviders = schemes.ToList();
                            if (loginProviders.Count == 0)
                            {
                                <div>
                                    <p>
                                        Ứng dụng chưa hỗ trợ đăng nhập từ tài khoản ngoài
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <li>
                                                    <button type="submit" class="ico-@provider.Name" name="provider" value="@provider.Name" title="Log in using your @provider.Name account">
                                                        @if(@provider.Name == "Google"){
                                                            <i class="fab fa-@provider.Name.ToLower()-plus"></i>
                                                        }
                                                        <i class="fab fa-@provider.Name.ToLower()-f"></i>
                                                    </button>
                                                </li>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </ul>
                </section>
            </div> 
        </div>

    </div> 

</body>
</html>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
